// style.css

#chat {
  margin-top: 10px;
}

#chatLog {
  width: 80%;
  height: 300px;
  margin-top: 30px;
  max-height: 500px;
  min-height: 50px;
}

.userlist {
  margin-top: 30px;
  margin-left: 30px;
  width: 20%;
  float: left;
}

#currentUserList {
  height: 150px;
  max-height: 500px;
  min-height: 50px;
}

#name {
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#message {
  width: 35%;
  display: inline;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 40px;
}

.btn.btn-info {
  width: 100%;
  height: 45px;
  font-size: 20px;
  border-radius: 0px;
}

.btn.btn-primary {
  margin-bottom: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 40px;
}

#chatbox {
  display: flex;
}
